<!DOCTYPE html>
<html lang="pot-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
    {{!-- Styles --}}
    <style>
        .message-content {
            display: flex;
            flex-direction: column;
            padding: .3rem;
            font-family: Ubuntu, sans-serif;
            text-wrap: wrap;
            max-width: auto;
            font-size: 16px;
            line-height: 0.2rem;
        }
        .link-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: .2rem;
        }
        .thanks {
            width: auto;
            padding-top: .2rem;
        }
    </style>
</head>
<body>
    <div class="message-content">
        <p>Olá {{name}} !</p>
        <br />
        <p>Recebemos sua solicitação para redefinição de sua senha, para redefinir sua senha você pode clicar no link abaixo.</p>
        <span class="link-content">
            <p>
                <strong><a href="{{link}}">Alterar senha</a></strong>
            </p>
            <p class="thanks">
                Equipe de vendas !
            </p>
        </span>
    </div>
</body>
</html>